.logo {
    cursor: pointer;
    margin-left: 20px;
}

img {
    width: 120px;
}



mat-sidenav-content {
    background-color: #0e171e;
}

mat-toolbar {
    background-color: #1b252f;
}

a {
    color: #829a9a;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

.ac {
    color: #fff;
}

.mat-sidenav {
    background-color: rgba($color: #1b252f, $alpha: 0.9);
    width: 50%;
}

mat-nav-list {
    a {
        color: white;
    }
}